<h1>Oscar ballot game - 91st Academy Awards - Sunday - February 24, 2019</h1>
<p>Create your Entry.</p>
<p>Challange your friends.</p>
<p>Best result wins.</p>

<%= button_to "Create Your Ballot Entry Here".html_safe, new_entry_path, :method => :get, :id => "button_id", :class => "button"%>

<%= button_to "View Results".html_safe, Result, :method => :get, :id => "button_id", :class => "rbutton"%>
