<footer>
<p>Powered by: 
<a href="https://zen-tech.org">
	<img src="https://zen-tech.org/brand.png" alt="ZenTech" style="height:25px;width:auto;border:0;">
	</a>
</p>
<p>Copyright © <script type="text/javascript">
//<![CDATA[
            var d = new Date()
            document.write(d.getFullYear())
            //]]>
            </script>
            <a href="https://zen-tech.org">zen-tech.org</a>
          </p>
</footer>